[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = false
name = "torch"

[packages]
torch = {version = "==2.4.1", index = "torch"}
torchvision = {version = "==0.19.1", index = "torch"}
numpy = "1.*"
blobfile = "*"
tqdm = "*"
pyyaml = "*"
pillow = "*"
opencv-python = "*"
h5py = "*"
pylint = "*"
scikit-image = "*"
scipy = "*"
imgaug = "*"
einops = "*"
omegaconf = "*"
transformers = "==4.44.2"
tokenizers = ">=0.14.1"
controlnet-aux = "==0.0.3"
mediapipe = "*"
xformers = {version="==0.0.28", index = "torch"}
open-clip-torch = ">=2.23.0"
diffusers="0.29.2"
matplotlib="*"
av=">=10,<13"
tensorboard="*"
timm="*"
accelerate="*"
kornia="*"
fvcore="*"
mpld3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
